# Ignore virtual environment folder
restapi/

# Ignore random files or folders
various/

# Ignore Python cache files
__pycache__/
__pycache__/main.cpython-38.pyc
*.pyc

# Ignore IDE-specific files
.vscode/
.idea
